/* Estilos básicos */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black; /* Fondo negro */
    font-family: Arial, sans-serif;
}

/* Contenedor de la caja fuerte */
#safe-container {
    position: relative;
    width: 300px;
    height: 300px;
}

/* Estilos para la caja fuerte */
#safe {
    width: 100%;
    height: 100%;
}

/* Estilos para el candado */
#lock {
    position: absolute;
    top: 30%; /* Posición del candado en la caja fuerte */
    left: 50%;
    transform: translate(-50%, 0);
    width: 50px;
    cursor: pointer;
}

/* Animación de sacudida para el candado */
@keyframes shake {
    0% { transform: translate(-50%, 0); }
    25% { transform: translate(-45%, -5px); }
    50% { transform: translate(-50%, 5px); }
    75% { transform: translate(-55%, -5px); }
    100% { transform: translate(-50%, 0); }
}

.shaking {
    animation: shake 0.5s ease-in-out;
}
